body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {text-align: center;}

img {
  display: block;
  margin: 0 auto;
}

nav, figcaption {
  text-align:center;
}

nav a {
  padding:0 10px;
  background: #ccc;
  margin: 0 auto;
}

#featured-property p {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#details > div {
  float: left;
  background-color: #ccc;
  width: 25%;
  text-align: center;
}
